Repository DreadedX/automation_rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, udeps, test, generate_definitions

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo +nightly fmt
  language: system
  args:
  - --
  - --check
  pass_filenames: false

clippy:
  name: clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --
  - -D
  - warnings
  pass_filenames: false

udeps:
  name: unused
  description: Check for unused crates
  entry: cargo udeps
  args:
  - --workspace
  language: system
  pass_filenames: false

test:
  name: test
  description: Rust test
  entry: cargo test
  language: system
  args:
  - --workspace
  pass_filenames: false

generate_definitions:
  name: generate definitions
  description: Generate lua definitions
  entry: cargo run --bin generate_definitions
  language: system
  pass_filenames: false

feat: Added type annotations to config.lua
  config.lua
Due: none

refactor(config)!: Setup for expanding lua config return
  automation_lib/src/config.rs
  config.lua
  src/config.rs
  src/main.rs
Due: fmt, clippy, udeps, test, generate_definitions

refactor: Move main.rs to bin/automation.rs
  src/bin/automation.rs
  src/lib.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Generate definitions for config
  Cargo.lock
  Cargo.toml
  definitions/config.lua
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

refactor: Move definition writing into separate function
  config.lua
  src/bin/generate_definitions.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Improved device conversion error message
  automation_lib/src/device.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Use ActionCallback for schedule
  definitions/config.lua
  src/config.rs
  src/schedule.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Ensure consistent ordering device definitions
  automation_devices/src/lib.rs
  definitions/automation:devices.lua
Due: fmt, clippy, udeps, test, generate_definitions

refactor(config)!: Move scheduler out of device_manager
  Cargo.lock
  Cargo.toml
  automation_lib/Cargo.toml
  automation_lib/src/device_manager.rs
  automation_lib/src/lib.rs
  automation_lib/src/schedule.rs
  config.lua
  definitions/automation:device_manager.lua
  definitions/config.lua
  src/bin/automation.rs
  src/config.rs
  src/lib.rs
  src/schedule.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Receive devices through config return
  Cargo.lock
  Cargo.toml
  automation_lib/src/device.rs
  config.lua
  definitions/config.lua
  src/bin/automation.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat(config)!: In config devices can now also be a (table of) function(s)
  config.lua
  definitions/config.lua
  src/bin/automation.rs
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

refactor: Restructured config to not rely on mqtt client being available
  config.lua
Due: none

feat(config)!: Config now returns the mqtt config instead of the client
  Cargo.lock
  automation_lib/Cargo.toml
  automation_lib/src/config.rs
  automation_lib/src/mqtt.rs
  config.lua
  definitions/automation:mqtt.lua
  definitions/config.lua
  src/bin/automation.rs
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat(config)!: Changed default config location
  Dockerfile
  config/config.lua
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat(config)!: Remove device manager lua code
  automation_lib/src/device_manager.rs
  definitions/automation:device_manager.lua
  src/bin/automation.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat(config)!: Device creation function is now named entry
  config/config.lua
  definitions/config.lua
  src/bin/automation.rs
  src/bin/generate_definitions.rs
  src/config.rs
  src/lib.rs
Due: fmt, clippy, udeps, test, generate_definitions

refactor: Split config
  config/battery.lua
  config/config.lua
  config/debug.lua
  config/hallway_automation.lua
  config/helper.lua
  config/hue_bridge.lua
  config/light.lua
  config/ntfy.lua
  config/presence.lua
  config/rooms.lua
  config/rooms/bathroom.lua
  config/rooms/bedroom.lua
  config/rooms/guest_bedroom.lua
  config/rooms/hallway_bottom.lua
  config/rooms/hallway_top.lua
  config/rooms/kitchen.lua
  config/rooms/living_room.lua
  config/rooms/storage.lua
  config/rooms/workbench.lua
  config/windows.lua
Due: none

fix: Fix issues with inner type definitions
  Cargo.lock
  definitions/automation:devices.lua
  definitions/config.lua
Due: clippy, udeps, test

feat(config)!: Improve config module resolution
  config/rooms.lua
  definitions/config.lua
  src/bin/automation.rs
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat(config)!: Made schedule part of new modules
  config/battery.lua
  config/config.lua
  config/rooms/bedroom.lua
  definitions/config.lua
  src/bin/automation.rs
  src/config.rs
  src/schedule.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Added type alias for setup and schedule types
  definitions/config.lua
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

chore: Fix config type annotations
  config/battery.lua
  config/debug.lua
  config/hallway_automation.lua
  config/helper.lua
  config/hue_bridge.lua
  config/light.lua
  config/ntfy.lua
  config/presence.lua
  config/rooms/bathroom.lua
  config/rooms/bedroom.lua
  config/rooms/guest_bedroom.lua
  config/rooms/hallway_bottom.lua
  config/rooms/hallway_top.lua
  config/rooms/kitchen.lua
  config/rooms/living_room.lua
  config/rooms/storage.lua
  config/rooms/workbench.lua
  config/windows.lua
Due: none

feat: Implement useful traits to simplify code
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

feat: Reduced visibility of config structs
  src/bin/generate_definitions.rs
  src/config.rs
Due: fmt, clippy, udeps, test, generate_definitions

fix: Set entrypoint lua path correctly in Dockerfile
  Dockerfile
Due: none

fix: Frontdoor presence is the wrong way around
  config/rooms/hallway_bottom.lua
Due: none

feat: Added 3d printer to guest room
  config/rooms/guest_bedroom.lua
Due: none

fix: Chef cook uses wrong toolchain
  Dockerfile
Due: none

chore: Upgraded to new workflow
  .gitea/workflows/build.yml
  docker-bake.hcl
Due: none

feat: Added all_on function to HueGroup
  automation_devices/src/hue_group.rs
  definitions/automation:devices.lua
Due: fmt, clippy, udeps, test, generate_definitions

chore: Update README to use prek
  README.md
Due: none

feat: Added automation for wardrobe light
  config/rooms/bedroom.lua
Due: none

chore: Update dependencies
  Cargo.lock
  Cargo.toml
  Dockerfile
  automation_devices/src/hue_switch.rs
  automation_macro/src/lib.rs
  rust-toolchain.toml
  src/lib.rs
Due: fmt, clippy, udeps, test, generate_definitions

fix: Deploy requires login now
  .gitea/workflows/build.yml
Due: none

fix: MQTT broke after internal domain change
  config/config.lua
Due: none

feat: Build fully static binary
  .cargo/config.toml
  .dockerignore
  Dockerfile
  docker-bake.hcl
Due: none

feat: Add basic support for bambu printer
  Cargo.lock
  Dockerfile
  automation_devices/Cargo.toml
  automation_devices/src/bambu.rs
  automation_devices/src/lib.rs
  definitions/automation:devices.lua
Due: fmt, clippy, udeps, test, generate_definitions

feat: Sync printer light with room light
  .gitea/workflows/build.yml
  config/rooms/guest_bedroom.lua
Due: none

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: (\.rs|Cargo.lock)$
  udeps: any of: (\.rs|Cargo.lock)$
  test: any of: (\.rs|Cargo.lock)$
  generate_definitions: any of: \.rs$
